{% extends "layouts/header.html" %}

{% block content %}
<div class="body">
  <div class="adoption-form-container">
    <form name="formulaire" action="/submit" method="post" onsubmit="return submitForm()" >

      <span id="animal-name-err" class="error"></span><br>
      <label for="animal-name">Nom de l'animal</label><br>
      <input type="text" name="animal_name" id="animal-name"><br>

      <span id="specie-err" class="error"></span><br>
      <label for="animal-specie">Espece</label><br>
      <input type="text" name="animal_specie" id="animal-specie"><br>

      <span id="race-err" class="error"></span><br>
      <label for="animal-race">Race</label><br>
      <input type="text" name="animal_race" id="animal-race"><br>

      <span id="age-err" class="error"></span><br>
      <label for="animal-age">Âge</label><br>
      <input type="number" name="animal_age" id="animal-age"><br>

      <span id="email-err" class="error"></span><br>
      <label for="email">Adresse courriel</label><br>
      <input type="email" name="email" id="email"><br>

      <span id="addresse-err" class="error"></span><br>
      <label for="addresse">Adresse civique</label><br>
      <input type="text" name="addresse" id="addresse"><br>

      <span id="city-err" class="error"></span><br>
      <label for="city">Ville</label><br>
      <input type="text" name="city" id="city"><br>

      <span id="postal-err" class="error"></span><br>
      <label for="postal">Code postal</label><br>
      <input type="text" name="postal" id="postal"><br>

      <span id="description-err" class="error"></span><br>
      <label for="description">Description</label><br>
      <textarea id="description" name="description" rows="4" cols="30"></textarea> <br>

      <button class="button" type="submit">Soumettre</button>
    </form>
  </div>
</div>
{% endblock %}