{% extends "layouts/header.html" %}

{% block content %}
<div class="body">
  <div class="adoption-form-container">
    <label for="animal-name">Nom de l'animal</label><br>
    <input type="text" name="animal_name" id="animal-name"><br>

    <label for="animal-age">Âge</label><br>
    <input type="text" name="animal_age" id="animal-age"><br>

    <label for="email">Adresse courriel</label><br>
    <input type="email" name="email" id="email"><br>

    <label for="addresse">Adresse civique</label><br>
    <input type="text" name="addresse" id="addresse"><br>

    <label for="city">Ville</label><br>
    <input type="text" name="city" id="city"><br>

    <label for="postal">Code postal</label><br>
    <input type="text" name="postal" id="postal"><br>

  </div>
</div>
{% endblock %}